.mainMenu {
  position: static;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 101;
  background-color: var(--bg2);
  padding: 0.8em;
  -webkit-tap-highlight-color: transparent;
}

.mainMenu__ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.9em;
}

.mainMenu__ul__li--a {
  font-weight: var(--textMedium);
  color: var(--tx1);
  transition: color 0.3s ease;
  font-size: 0.95rem;
  padding: 0.4em;
}

.active__li {
  background-color: #3a0000;
  color: var(--bg2);
}