.gallery {
  height: auto;
  width: 100%;
  position: relative;
  display: grid;
  gap: 0.4em;
}

.doors {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.windows {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.bathrooms {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.enclosures {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.railings {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.gallery__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.gallery__price {
  padding: 0.5em;
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: #00ce4f;
  color: black;
  font-weight: var(--textRegular);
  font-size: 0.9rem;
}

.gallery__article__desc {
  position: absolute;
  bottom: 0%;

  width: 100%;
  height: 2.5em;
  background: var(--bg2);

  font-size: 0.9em;
  color: var(--tx1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__article__btns{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  z-index: 100;
  position: absolute;
  right: 3%;
  bottom: 20%;

}

.gallery__article__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__btn1 {
  width: 4.2em;
  background: var(--bg1);
  color: var(--tx1);
  padding: 0.5em;
  font-size: 0.9rem;
}

.gallery__btn2 {
  width: 4.2em;
  background: var(--bg1);
  color: var(--tx1);
  padding: 0.5em;
  font-size: 0.9rem;
}

@media (max-width:950px) {

  .doors {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .windows {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .bathrooms {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .enclosures {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .railings {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .gallery__price {
    padding: 0.3em;
    font-weight: var(--textRegular);
    font-size: 0.85rem;
  }

  .gallery__article__desc {
    font-size: 0.85em;
    padding: 0.3em;
  }

  .gallery__btn1 {
    font-size: 0.85rem;
  }

  .gallery__btn2 {
    font-size: 0.85rem;
  }
}