html {
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --textRegular: 400;
  --textMedium: 500;
  --textBold: 700;

  --tx1: #FFFFFF;
  --bg1: #000000;
  --bg2: #EE0000;
}

body {
  margin: 0;
  position: relative;
  background-color: #0e0e0e;
}

h1,
h2,
h3,
h4,
p,
ul,
hr,
a {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

button,
li,
a {
  cursor: pointer;
  border: 0;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.modal__div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: scale(0);
}

.modal__open {
  opacity: 1;
  transform: scale(1);
}

.Modal__container__close {
  position: absolute;
  width: 2em;
  background: transparent;
  color: var(--tx1);
  padding: 0.3em;
  font-size: 1.5rem;
  font-weight: var(--textMedium);
  right: 4%;
  top: 4%;
}